**Does a dynamic pricing tool significantly increase the hosts' listings power?**

In [57]:
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns

In [58]:
df = pd.read_csv('dsnity/school/year3/cosc301/calendar.csv.gz')
df.head(10)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,3002,2022-12-16,f,$110.00,$110.00,4.0,8.0
1,3002,2022-12-17,t,$85.00,$85.00,4.0,8.0
2,3002,2022-12-18,f,$110.00,$110.00,4.0,8.0
3,3002,2022-12-19,f,$110.00,$110.00,4.0,8.0
4,3002,2022-12-20,f,$110.00,$110.00,4.0,8.0
5,3002,2022-12-21,f,$110.00,$110.00,4.0,8.0
6,3002,2022-12-22,t,$120.00,$120.00,4.0,8.0
7,3002,2022-12-23,f,$120.00,$120.00,4.0,8.0
8,3002,2022-12-24,f,$120.00,$120.00,4.0,8.0
9,3002,2022-12-25,f,$120.00,$120.00,4.0,8.0

In [ ]:
df = pd.read_csv('dsnity/school/year3/cosc301/calendar.csv.gz')
df.head(10)

In [ ]:
df = df.drop(['minimum_nights'], axis=1)
df = df.drop(['maximum_nights'], axis=1)
df
#Removed minimum and maximum nights beause they were irrelevant

**What I found is that the price changes depending on what time of the year it is. December is a peak month for travellers so the price per night is more. The price after the first week of january drops drastically.**